/********************************************
            MAIN STYLES
********************************************/
@font-face{
    font-family: Franklin Gothic Demi Cond;
    src: url(../dist/franklin gothic demi.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Demi Cond', arial;
    font-size: 12px;
}

html{
    background: url(../img/bg.png);
}

#main_container{
    background-color: #dfdfd0;
    height: 137px;
}

/********************************************
            HEADER STYLES
********************************************/

#contacts-block{
    display: table;
    padding: 7px 5px;
    margin-top: 37px;
    background-color: #ccccbd;
    height: 31px;
    width: 268px;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 15px 0px rgba(50, 50, 50, 0.75);
}

#contact_details_email {
    display: table-cell;
    font-family: 'Franklin Gothic Demi Cond', arial;
    font-size: 12px;
    font-weight: bold;
    width: 128px;
}

#contact_details_phone{
    display: table-cell;
    font-family: 'Franklin Gothic Demi Cond', arial;
    font-size: 12px;
    font-weight: bold;
    width: 120px;
}

#logo{
    margin-top: 29px;
}

/********************************************
            MENU STYLES
********************************************/

#nav_menu{
    display: table;
    background-color: #ff2626;
    height: 35px;
    width: 808px;
    margin-top: 22px;
}

#top_menu {
    display: table-cell;
}

#top_menu ul{
    margin-left: 22px;
}

#top_menu ul li{
    display: inline-block;
    font-size: 14px;
    margin-top: 9px;
    margin-right: 42px;
}

#top_menu ul li.last{
    margin-right: 0px;
}

#top_menu ul li a{
    color: #fff;
    text-decoration: none;
    text-shadow: -1px 1px 3px rgba(17, 17, 17, 0.75);
    }

#top_menu ul li a:hover,
#top_menu ul li.active a{
    color: #64a7b7;
}

/********************************************
            SEARCH STYLES
********************************************/

#search_box{
    display: table-cell;
    width: 158px;
    margin-right: 15px;
}

#search{
    height: 20px;
    width: 138px;
}

.search input {
    border: none;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
}

.search .submit {
    position: absolute;
    top: 0;
    right: 13px;
    width: 37px;
    height: 100%;
    box-shadow: none;
    cursor: pointer;
    background: url(../img/search-icon.png) 50% no-repeat;
    opacity: 0.5;
}

.search .submit:hover {
    opacity: 0.8;
    box-shadow: none;
    outline: none;
}

/********************************************
            NIVO SLIDER STYLES
********************************************/

.theme-default .nivoSlider {
    position:relative;
    background:#fff url(../img/loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
}
.theme-default .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.theme-default .nivoSlider a {
    border:0;
    display:block;
}

.theme-default .nivo-controlNav {
    text-align: center;
    padding: 20px 0;
}
.theme-default .nivo-controlNav a {
    display:inline-block;
    width:22px;
    height:22px;
    background:url(../img/bullets.png) no-repeat;
    text-indent:-9999px;
    border:0;
    margin: 0 2px;
}
.theme-default .nivo-controlNav a.active {
    background-position:0 -22px;
}

.nivo-directionNav{
    position: absolute;
    right: -10px;
    bottom: 35px;
}

.theme-default .nivo-directionNav a {
    display:block;
    width:30px;
    height:30px;
    background:url(../img/arrows.png) no-repeat;
    text-indent:-9999px;
    border:0;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
    background-position:-30px 0;
    right:15px;
}
.theme-default a.nivo-prevNav {
    left: -75px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
    width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
    width: auto;
    height: auto;
    background: none;
    margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
    display: block;
    width: 120px;
    height: auto;
}

.nivoSlider {
    position:relative;
    width:100%;
    height:auto;
    overflow: hidden;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    max-width: none;
}
.nivo-main-image {
    display: block !important;
    position: relative !important; 
    width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
    background:white; 
    filter:alpha(opacity=0); 
    opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
    top:0;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
    overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
    position:absolute;
    left:0px;
    bottom:0px;
    background:#000;
    color:#fff;
    width:100%;
    z-index:8;
    padding: 5px 10px;
    opacity: 0.8;
    overflow: hidden;
    display: none;
    -moz-opacity: 0.8;
    filter:alpha(opacity=8);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
    padding:5px;
    margin:0;
}
.nivo-caption a {
    display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
    position:absolute;
    top:45%;
    z-index:9;
    cursor:pointer;
}
.nivo-prevNav {
    left:0px;
}
.nivo-nextNav {
    right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
    text-align:center;
    padding: 15px 0;
}
.nivo-controlNav a {
    cursor:pointer;
}
.nivo-controlNav a.active {
    font-weight:bold;
}

/********************************************
            PRODUCT TYPES STYLES
********************************************/
#leftNav{
    margin-top: 2%;
}
.bg{
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin-top: -1%;
}
.leftNavItem{
    display: block;
    margin: 3% 0;

}
#product_types{
    margin-top: 2%;
}

.type_img{
    margin: 3% 3%;
    float: left;
}

.typeTitle{
    margin-top: 5%;
    font-size:14px; 
    text-align: center;
}

/********************************************
            LEFT MENU STYLES
********************************************/
#left_menu li{
    font-size: 16px;
    /*margin-top: 9px;
    margin-left: 42px;*/
}

#left_menu li:before{
    content: url('../img/list_marker.png');
    margin-right: 2%;
}

#left_menu li a{
    color: #fff;
    text-decoration: none;
    text-shadow: -1px 1px 3px rgba(17, 17, 17, 0.75);
    }

#left_menu li a:hover,
#left_menu li.active a{
    color: #64a7b7;
}

#subLeft li{
    font-size: 16px;
    /*margin-top: 9px;*/
    margin-left: 5%;
}

#subLeft li:before{
    content: url('../img/subList_marker.png');
    margin-right: 2%;
}

#subLeft li a{
    color: #fff;
    text-decoration: none;
    text-shadow: -1px 1px 3px rgba(17, 17, 17, 0.75);
    }

#subLeft li a:hover,
#subLeft li.active a{
    color: #64a7b7;
}

.subMenu:hover{
    font-size: 50px;
}